body{
    background-color: hsl(217, 54%, 11%);
}

.card{
    width: 350px;
    text-align: left;
    border-radius: 15px;
    background-color: hsl(216, 50%, 16%);
    margin: 100px auto;
}

.hoverImg {
    position: relative;
}

.image{
    height: 320px;
    width: 320px;
    border-radius: 10px;
    margin: 15px 0px 0px 15px;
}
  
.eyesActive{
    position: absolute;
    top: 15px;
    left: 15px;
    height: 320px;
    width: 320px;
    border-radius: 10px;
    background-color: hsla(178, 100%, 50%, 0.507);
    opacity: 0;
}
  
.eyes {
    position: absolute;
    top: 45%;
    left: 42%;
}
  
.eyesActive:hover {
    opacity: 1;
}

h2:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.text{
    padding: 0 30px 10px 30px;
    font-family: 'Outfit', sans-serif;    
}

h2{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

#description{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

#number{
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}

.etheNumber{
    display: flex;
    align-items: center;
    gap: 5px;
}

#day{
    color: hsl(215, 51%, 70%);
}

.time{
    display: flex;
    align-items: center;
    gap: 5px;
}    

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile{
    width: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50px;
}

.name{
    color:hsl(215, 51%, 70%);
}

.creator{
    margin: 20px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

span{
    color: hsl(0, 0%, 100%);
}

span:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

hr{
    margin: 0px 20px;
    border: none;
    height: 1px;
    background-color: hsl(215, 32%, 27%);
}
